/*
 * Base structure
 */

html,
body {
  height: 100%;
  background: white !important;
}

#btn-back-to-top {
  position: fixed; /* Fixed/sticky position */
  bottom: 15px !important; /* Place the button at the bottom of the page */
  right: 15px !important; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(145, 145, 145); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
}

#btn-back-to-top:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.hidden_content {
  display:none;
  visibility:hidden;
}

.nav-link {
  cursor: pointer !important;
}

.CodeMirror { 
  border: 1px solid silver; 
}

.CodeMirror-empty.CodeMirror-focused { 
  outline: none; 
}

.CodeMirror pre.CodeMirror-placeholder { 
  color: #999; 
}

.CodeMirror-linenumbers{
  width: 29px !important;
  padding: 1px 8px 0 5px;
  color: #c8d2d7;
  font-size: 10px;

}

.CodeMirror-line, .CodeMirror-placeholder{
  padding-left: 55px !important;
}

.CodeMirror-gutters {
  left: 0px !important;
}